MONGODB_URI=mongodb+srv://your_user:your_password@cluster0.xxxxx.mongodb.net/smartparking?retryWrites=true&w=majority
JWT_SECRET=replace_this_with_any_long_random_string
ADMIN_SIGNUP_CODE=replace_with_a_secret_code_for_admin_signup
PORT=3000
